<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Truck Saver</title>
		{{!-- JQuery --}}
		<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link type="text/css" rel="stylesheet" href="~/altanticportal/apapp.js/assets/style.css"/>
	</head>

	<body>
		{{{ body }}}
	</body>

</html>
